{% extends "base.html" %}
{% block content %}   
<div class="center">

      <h1>Pages associated with the user</h1>
		<form name="myForm" action="show" method="GET" >
		<h5>
		{% for page in pages %}

		<p>

		<input type="radio" name="page_id" value={{ page[1] }} > {{ page[0]}}  
		</p>
		{% endfor %}     
		<p><input type="submit" name="r_type" value="Show" class = "button-class">
		<input type="submit" name="r_type" value="Create" class = "button-class" >
		<input type="hidden" name="referrer" value="home">

		</form>
</div>
{% endblock %}