{% extends "base.html" %}
{% block content %}

<div class="center2">

    <p class='circle-image'
       style="background-image: url(https://graph.facebook.com/{{ user['id'] }}/picture?type=large);
              margin-left: auto; margin-right: auto;">
    </p>
    <h3> Welcome, {{ user['name'] }}.</h3>

    <h5> Facebook Pages manager </h5>

    <form action="/pages"> 
    <input type="submit" id="search" value="Fetch Pages"  class = "button-class" />
    </form>

    <br><br>

    <a href="/" id="home">Home<br></a>
    <a href="/logout" id="logout">Log out<br></a>
    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) { });
        };
    </script>

</div>
{% endblock %}
